name: bloom
description: A space for couples to share experiences
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  flutter_svg: ^2.0.10+1
  google_fonts: ^6.1.0
  supabase_flutter: ^2.5.6
  flutter_dotenv: ^5.1.0
  image_picker: ^1.0.7
  shared_preferences: ^2.2.2
  url_launcher: ^6.2.4
  add_2_calendar: ^3.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/


